html, body {
    min-width: 350;

}

header,
#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    top: 5px;
}

.header-item {
    text-align: center;
    margin: 5px;
}

.grow {
    flex: 1;
}

#search-bar input[type=text] {
    min-width: 180px;
    border: none;
    font-size: 10px;
}

.header-logo {
    max-width: 60px;
    min-width: 40px;
}

menu,
.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-item {
    font-size: clamp(6px, 1vw, 20px);
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer,
#footer-container {
    bottom: 5px;
    left: 10px;
    right: 10px;
    height: 35px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: beige;
    justify-content: center;
}

/*login*/
.input-field {
    width: 25%;
}

/*index*/
.product-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
    padding: 5px;
    width: 90%;
    margin: 10px auto;
    background-color: rgb(68, 160, 129);
}

/*.product {
    display: block;
    background-color: brown;
    aspect-ratio: 2/1;
    align-items: center;
    min-width: 100px;
}*/

.container-img {
    display: block;
    height: 70%;
    margin: auto;
}

.container-price {
    font-size: 20px;
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.container-desc {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.image{
    max-height: 100px;
}
